* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: skyblue;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-icon {
    background: green;
    color: white;
    padding: 8px 12px;
    border-radius: 50%;
    font-weight: bold;
    margin-right: 8px;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
    color: green;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.header-buttons button {
    margin-left: 10px;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.consult-btn {
    background-color: gold;
    color: white;
}

.cv-btn {
    background-color: black;
    color: white;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.hero-left {
    max-width: 500px;
}

.small-text {
    color: #f4c27a;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero-left h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero-left h1 span {
    color: green;
}

.description {
    margin-bottom: 20px;
    color: #333;
}

.hero-buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.learn-btn {
    background-color: #ff8c66;
    color: white;
}

.hire-btn {
    background-color: black;
    color: white;
}

.profile-circle {
    width: 300px;
    height: 300px;
    background: #e6d5c3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-circle img {
    width: 290px;
    border-radius: 50%;
}